@import '@/styles/vars';

.fish {
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  display: grid;
  grid-gap: 1rem;
  margin: 1rem 0;
}
.img {
  border-radius: $radius;
  cursor: pointer;
  background: var(--sidebar-search-background-color);
  padding: 5px;
  width: 100%;
  object-fit: cover;
}
