.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.2s;
}

.active {
  color: var(--sidebar-search-background-color);
  background: var(--text--hover);
}

.primary {
  color: var(--text--hover);
  background: var(--sidebar-search-background-color);
}
