@import '@/styles/vars';

.list {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 0.5em;
  padding: 1.5em 0;
}
.item {
  position: relative;
  cursor: pointer;
}

.img {
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content {
  background: rgba(#000, 0.4);
  backdrop-filter: blur(10px);
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
  color: $color-text-dark-mode;
  width: 100%;
}
.name {
  margin: 5px 10px;
  font-size: $xl;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.type {
  margin: 5px 0;
}
.price {
  display: flex;
  padding: 10px;
  font-size: $xl;
  line-height: $xl;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: $bg-vbucks;
  span {
    color: $color-text-dark-mode;
  }
  img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
  }
}
