@import '@/styles/vars';

.details {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  &__text {
    font-size: $xl;
    line-height: $xl2;
    margin: 1rem 0;
  }
  &__img {
    img {
      max-width: 100%;
      width: 550px;
    }
  }
  &__description {
    margin-left: 2rem;
    a {
      font-size: $lg;
      padding-bottom: 1rem;
    }
    svg {
      rotate: 180deg;
      margin-left: 0.8rem;
    }
  }
  &__list {
    padding: 1rem 0;
  }
  &__item {
    font-size: $lg;
    line-height: $lg;
    margin: 1rem 0;
    select {
      margin-left: 5px;
      border: none;
      background: none;
      color: inherit;
      font-size: $lg;
    }
  }
  &__title {
    font-size: $xl5;
    line-height: $xl4line;
    margin: 1rem 0;
  }
  &__subtitle {
    font-size: $xl2;
    margin: 1rem 0;
  }
}
