@import '@/styles/vars';

@font-face {
  font-family: 'BurbankBigRegular-Black';
  src: url('../../fonts/BurbankSmall-Black.otf');
}

.h1 {
  margin: 1rem;
  font-family: 'BurbankBigRegular-Black';
  font-size: $xl4;
  line-height: $xl4line;
  text-align: center;
  text-transform: uppercase;
}

.h2 {
  margin: 0;
  font-family: 'BurbankBigRegular-Black';
  font-size: $xl3;
  line-height: $xl3line;
}

.h3 {
  margin: 0;
  font-family: 'BurbankBigRegular-Black';
  font-size: $xl2;
  line-height: $xl2line;
}

.h4 {
  margin: 0;
  font-family: 'BurbankBigRegular-Black';
  font-size: $xl;
  line-height: $xlline;
}
