.details {
  // margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  &__img {
    margin-right: 30px;
    // margin-right: auto;
    img {
      max-width: 550px;
    }
  }
  &__description {
    // margin-left: auto;
    a {
      font-size: 18px;
    }
    svg {
      rotate: 180deg;
      margin-left: 10px;
    }
  }
  &__list {
  }
  &__item {
    border-bottom: 1px solid #fff;
    margin-top: 20px;
  }
  &__title {
    font-size: 32px;
    margin: 7px 0;
  }
}
