.fish {
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  display: grid;
  grid-gap: 1rem;
  &__title{
    font-size: $xl4;
    line-height: $xl3line;
    margin: 1rem;
    text-align: center;
    text-transform: uppercase;
  }
  &__inner {
    text-align: center;
    border-radius: $radius * 3;
    background: var(--sidebar-search-background-color);
    img{
      margin: 3rem;
    }
  }
  &__close{
    margin-right: 35px;
    margin-top: 25px;
    text-align: right;
    svg{
      font-size: $xl3;
      cursor: pointer;
      line-height: $xl3line;
    }
  }
  &__img {
    border-radius: $radius;
    cursor: pointer;
    background: var(--sidebar-search-background-color);
    max-width: 250px;
    padding: 5px;
    width: 100%;
    object-fit: cover;
  }
  &__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h3{
      margin: 1rem;
      font-size: $xl4;
      line-height: $xl4line;
    }
    p{
      margin: 0.5rem;
      font-size: $xl2;
      line-height: $xl2line;
    }
    ul {
      margin: 0rem 0.25rem;
      margin-bottom: 2rem;
      font-size: $xl;
      line-height: $xlline;
      li{
        margin: 1rem;
        max-width: 300px;
      }
    }
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(#000, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .5s;
  pointer-events: none;
  z-index: 999;
  &__open{
    opacity: 1;
    pointer-events: all;
  }
  &__content{
    padding: 20px;
    border-radius: $radius;
    background-color: var(--text--color);
  }
}