.navbar {
  font-family: 'Rubik', sans-serif;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  z-index: 100;
  background: var(--sidebar-background-color);
  &__logo {
    text-align: center;
    margin-top: 35px;
    img {
      max-width: 100px;
      object-fit: cover;
      width: 100%;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    // margin-top: 80px;
  }
  &__item {
    margin-top: 20px;
    &--active{
      background: var(--text--hover);
      border-radius: $radius;
      margin-top: 20px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    &:hover {
      padding: 20px 10px;
      width: 100%;
      border-radius: $radius;
      background: var(--text--hover);
      color: var(--text--color);
    }
    svg {
      max-width: 20px;
      height: 20px;
      margin: 0 10px;
    }
  }
  &__input {
    position: relative;
    margin: 20px 5px;
    text-align: center;
    z-index: 1;
    input {
      // color: $search-color-dk;
      color: #fff;
      width: 100%;
      // background: $search-dk;
      background: #000;
      border: none;
      padding: 20px 55px;
      border-radius: $radius;
    }
    svg {
      top: 17px;
      left: 17px;
      width: 20px;
      height: 20px;
      position: absolute;
      z-index: 4;
      cursor: pointer;
    }
  }
  &__open {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 25px;
    svg {
      rotate: 90deg * 2;
      cursor: pointer;
      width: 30px;
      height: 30px;
    }
  }
  &__language{
    text-align: center;
    h1{
      font-size: $xl;
    }
    &-list {
      text-align: center;
      display: none;
      background: var(--sidebar-background-color);
      color: var(--text--color);
      font-size: $sm;
      font-weight: $sm;
    }
    div {
      margin: 10px 0;
      svg{
        max-width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
    &-item{
      margin-top: 8px;
      border-radius: $radius;
      cursor: pointer;
      width: 100%;
      &--active{
        padding: 8px;
        background: var(--sidebar-search-background-color);
      }
    }
  }
}


.language-open {
  display: block;
}