.navbar {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  z-index: 100;
  background: $bg-side-dk;
  &__logo {
    text-align: center;
    img {
      max-width: 100px;
      object-fit: cover;
      width: 100%;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
  }
  &__menu {
  }
  &__list {
  }
  &__item {
  }
  &__link {
    padding: 25px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    &:hover {
      padding: 25px;
      border-radius: $radius;
      background: $color-hover-dk;
      color: $color-dk;
    }
    svg {
      margin-right: 10px;
    }
  }
  &__theme {
    padding: 3px;
    margin: 25px;
    cursor: pointer;
    border-radius: $radius;
    display: flex;
    background: $search-dk;
    justify-content: space-between;
    align-items: center;
    svg {
      margin-right: 8px;
      margin-left: 4px;
    }
    &-selected {
      border-radius: calc($radius - 2px);
      padding: 12px 16px;
      background: $color-hover-dk;
    }
    &-selected:first-child {
      background: $search-dk;
      color: $search-color-dk;
    }
  }
  &__input {
    position: relative;
    margin: 20px 5px;
    text-align: center;
    z-index: 1;
    input {
      color: $search-color-dk;
      width: 100%;
      background: $search-dk;
      border: none;
      padding: 20px 55px;
      border-radius: $radius;
    }
    svg {
      top: 17px;
      left: 17px;
      width: 20px;
      height: 20px;
      position: absolute;
      z-index: 4;
      cursor: pointer;
    }
  }
}
