@import '@/styles/vars';

.img {
  // display: fslex;
  // align-items: center;
  // img {
  // width: 100%;
  // max-width: 80px;
  // }
}

.table {
  max-width: 1200px;
  margin: auto;
  border-collapse: collapse;
  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  td {
    font-size: $base;
    border: 1px solid var(--text--color);
    display: table-cell;
    text-align: center;
    vertical-align: inherit;
  }
  th {
    font-weight: normal;
    font-size: $xl;
    background: var(--sidebar-search-background-color);
    padding: 1rem;
    text-align: center;
    border: 1px solid var(--sidebar-search-background-color);
  }
  img {
    width: 100%;
    max-width: 80px;
  }
}

.rarity {
  margin: 0 0.5rem;
  text-transform: uppercase;
  &__common {
    color: #40464d;
  }
  &__uncommon {
    color: #016607;
  }
  &__rare {
    color: #008dd4;
  }
  &__epic {
    color: #8a2de2;
  }
  &__legendary {
    color: #de6e0f;
  }
  &__mythic {
    color: #c5a344;
  }
  &__exotic {
    color: #23eec4;
  }
}
