.footer {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px 40px;
  background: var(--footer-bg);
  color: var(--text-color);
  padding: 30px;
}

@media (max-width: 765px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
