@import '@/styles/vars';

.mode {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  padding: 5px 6px;
  border-radius: $radius * 1.5;
  background: var(--sidebar-search-background-color);
  margin: 20px;
}
.modeActive {
  background: var(--sidebar-search-background-color);
  .theme {
    background: var(--text--hover);
    color: var(--text--color);
    &:first-child {
      background: var(--sidebar-search-background-color);
      color: var(--sidebar-search-text-color);
    }
  }
}
.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 14px 1px;
  margin: 3px;
  border-radius: $radius;
  color: var(--sidebar-search-text-color);
  &:first-child {
    background: var(--sidebar-search-text-color);
    color: var(--sidebar-background-color);
  }
  svg {
    margin-right: 10px;
  }
}

@media (max-width: 765px) {
  .mode {
    margin: 18px;
  }
  .theme {
    justify-content: center;
    padding: 0;
    svg {
      padding: 15px;
      margin-right: 0;
    }
    span {
      display: none;
    }
  }
}
