$bg-vbucks: #000725;
$bg-dark-mode: #262747;
$color-text-dark-mode: #E5E4EA;
$sidebar-dark-mode: #3A3A66;
$sidebar-search-dark-mode: #1E1E37;
$sidebar-search-text-dark-mode: #E5E4EA;
$color-hover-dark: #0E89FF;


$bg-light-mode: #E5E4EA;
$color-text-light-mode: #0A1223;
$sidebar-light-mode: #fefefe;
$sidebar-search-light-mode: #F0EFF1;
$sidebar-search-text-light-mode: #262747;
$color-hover-light: #0E89FF;

$radius: 10px;