$bg-vbucks: #000725;

$bg-dark-mode: #212223;
$color-text-dark-mode: #fffeff;
$sidebar-dark-mode: #30363a;
$sidebar-search-dark-mode: #090b0b;
$sidebar-search-text-dark-mode: #969698;
$color-hover-dark: #ee1a66;

$bg-light-mode: #fffeff;
$color-text-light-mode: #212223;
$sidebar-light-mode: #f2f6fc;
$sidebar-search-light-mode: #79838b;
$sidebar-search-text-light-mode: #212223;

$color-hover-light: #ee1a66;

$radius: 10px;

$radius: 10px;
