$bg-vbucks: #000725;
$bg-dark-mode: #262747;
$color-text-dark-mode: #E5E4EA;
$sidebar-dark-mode: #3A3A66;
$sidebar-search-dark-mode: #1E1E37;
$sidebar-search-text-dark-mode: #E5E4EA;
$color-hover-dark: #0E89FF;

$bg-light-mode: #E5E4EA;
$color-text-light-mode: #0A1223;
$sidebar-light-mode: #fefefe;
$sidebar-search-light-mode: #F0EFF1;
$sidebar-search-text-light-mode: #262747;
$color-hover-light: #0E89FF;

$radius: 10px;

$xs:0.75rem;
$xsline:1rem;

$sm:0.875rem;
$smline:1.25rem;

$base:1rem;
$baseline:1.5rem;

$lg:1.125rem;
$lgline:1.75rem;

$xl:1.25rem;
$xlline:1.75rem;

$xl2:1.5rem;
$xl2line:2rem;

$xl3:1.875rem;
$xl3line:2.25rem;

$xl4:2.25rem;
$xl4line:2.5rem;

$xl5:3rem;
$xl5line:1rem;

$xl6:3.75rem;
$xl6line:1rem;

$xl7:4.5rem;
$xl7line:1rem;

$xl8:6rem;
$xl8line:1rem;
