@import './vars';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html[data-theme='light'] {
  --hover: #{$hover};
  --footer-bg: #{$bg-footer-light};
  --text--color: #{$color-text-light-mode};
  --text--hover: #{$text-hover};
  --bg-color: #{$bg-light-mode};
  --sidebar-background-color: #{$sidebar-light-mode};
  --sidebar-search-text-color: #{$sidebar-search-text-light-mode};
  --sidebar-search-background-color: #{$sidebar-search-light-mode};
  --skeleton-background: #{$bg-skeleton-light};
  --skeleton-foreground: #{$fg-skeleton-light};
}
html[data-theme='dark'] {
  --footer-bg: #{$bg-footer-dark};
  --hover: #{$hover};
  --text--color: #{$color-text-dark-mode};
  --text--hover: #{$text-hover};
  --bg-color: #{$bg-dark-mode};
  --sidebar-background-color: #{$sidebar-dark-mode};
  --sidebar-search-text-color: #{$sidebar-search-text-dark-mode};
  --sidebar-search-background-color: #{$sidebar-search-dark-mode};
  --skeleton-background: #{$bg-skeleton-dark};
  --skeleton-foreground: #{$fg-skeleton-dark};
}

body {
  background: var(--bg-color);
  color: var(--text--color);
  font-family: 'Manrope', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: $xl3;
  line-height: $xl3line;
}
a {
  color: inherit;
  text-decoration: none;
}

.skeleton {
  background: var(--skeleton-background);
  rect {
    fill: var(--skeleton-foreground);
    background: var(--skeleton-background);
  }
}

.not {
  &__container {
    background: var(--bg-color);
    color: var(--text--color);
    margin: auto;
    max-width: 1200px;
    height: 100vh;
    padding: 0 15px;
    overflow: hidden;
  }
  &__found {
    margin-top: 30%;
    text-align: center;
    div {
      h1 {
        font-size: $xl8 * 2;
        margin: 4rem 0;
      }
      h2 {
        font-size: $xl5;
        font-weight: normal;
        margin-top: 3.5rem;
        margin-bottom: 2.5rem;
      }
      h3 {
        font-size: $xl8;
        margin-bottom: 4.5rem;
      }
      a {
        background: var(--text--hover);
        color: var(--sidebar-search-text-color);
        border-radius: $radius;
        font-size: $xl;
        padding: 1.2rem 2.3rem;
      }
    }
  }
}
