@import '@/styles/vars';

.menu {
  margin-left: 25px;
}
.link {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: $xl;
  line-height: $xlline;
  color: var(--text-color);
  font-weight: 500;
  svg {
    &:first-child {
      margin-right: 20px;
    }
    &:last-child {
      margin-left: auto;
      margin-right: 30px;
    }
  }
  &:hover {
    color: var(--hover);
  }
  &Active {
    color: var(--text--hover);
    svg {
      &:hover {
        fill: var(--hover);
      }
      &:last-child {
        rotate: 90deg;
      }
    }
  }
}

.secondList {
  display: none;
  margin-top: 15px;
  margin-left: 12px;
  list-style: none;
  border-left: 1px solid #dfdfdf;
  li {
    padding: 0 0 0 32px;
  }
  &Active {
    display: block;
  }
}
.linkSecond {
  font-size: $lg;
  display: grid;
  align-items: center;
  margin-top: 13px;
  &:hover {
    color: var(--hover);
  }
  &Active {
    border-radius: $radius;
    color: var(--text--hover);
  }
}
